<h4>{{section.settings.calloutTitle}}</h4>
<p>{{section.settings.calloutText}}</p>

{% schema %}
{
    "name": "Callout",
    "class": "callout-section",

   "settings": [
      {
        "type": "text",
        "id": "callout_title",
        "label": "Callout Title",
        "default": "Enter callout header..."
      },
      {
        "type": "text",
        "id": "callout_text",
        "label": "Callout Text",
        "default": "Enter callout text..."
      },
      {
        "type": "color",
        "id": "callout_color",
        "label": "Heading color",
        "default": "#FFFFFF"
      }
    ]
  }

{% endschema %}


