 <div class="row p-3 mx-auto">
  <div class="cura" style="border-left-color: {{section.settings.callout_border_color}}">
    <h4>{{section.settings.callout_title}}</h4>
    <p>{{section.settings.callout_text}}</p>
    <p>{{section.settings.callout_tagline}}</p>
  </div>
</div>

{% schema %}
{
    "name": "Callout",
    "class": "callout-section",

   "settings": [
      {
        "type": "text",
        "id": "callout_title",
        "label": "Callout Title",
        "default": "Enter callout title..."
      },
      {
        "type": "color",
        "id": "callout_border_color",
        "label": "Border Color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "callout_text",
        "label": "Callout Text",
        "default": "Enter callout text..."
      },
      {
        "type": "text",
        "id": "callout_tagline",
        "label": "Callout Tagline",
        "default": "Enter callout tagline..."
      }
    ]
  }

{% endschema %}