
    <div class="row">
      <div class="cura cy">
        <h4>{{section.settings.calloutTitle}}</p>
        <p>{{section.settings.calloutText}}</p>
      </div>
    </div>

{% schema %}
{
    "name": "Callout",
    "class": "callout-section",

   "settings": [
      {
        "id": "calloutTitle",
        "type": "text",
        "label": "Callout Title",
        "default": "Enter callout header..."
      },
      {
        "id": "calloutText",
        "type": "text",
        "label": "Callout Text",
        "default": "Enter callout text..."
      }
    ]
  }

{% endschema %}