<!-- /templates/index.liquid -->
<div class="row">
  <div class="rose col-md-4"></div>
  <div class="rose col-md-4"></div>
  <div class="rose col-md-4"></div>
</div>

<div class="index-sections">
  {{ content_for_index }}
</div>
